HOST=0.0.0.0
PORT=3000
ORGANIZER_USER=organizer
ORGANIZER_PASSWORD=замените_перед_запуском
NODE_ENV=production
# ЕГРЮЛ (egrul.nalog.ru): таймаут запроса, кэш успешных подсказок, пауза между исходящими
# EGRUL_TIMEOUT_MS=20000
# EGRUL_CACHE_TTL_MS=180000
# EGRUL_MIN_INTERVAL_MS=400
